body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f2f2f2;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;

    background-image: url("https://wallpapercave.com/wp/wp2763891.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    padding: 20px;
}

.tela {
    text-align: center;
    width: 100%;
    max-width: 480px;

    background: rgba(255, 255, 255, 0.929);
    padding: 28px;
    border-radius: 18px;

    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 8px 30px rgba(0,0,0,0.4);
}

/* Campo Nome */
#nomeJogador {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    font-size: 16px;
}

.hidden {
    display: none;
}

button {
    margin: 10px 0;
    padding: 14px 20px;
    border: none;
    background: #333;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background: #555;
}

.voltarBtn {
    background: #b30000;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 15px;
    font-size: 14px;
    width: 100%;
}

.voltarBtn:hover {
    background: #e60000;
}

.topo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 18px;
}

.opcao {
    color: #ffffff;
    background: #747373;
    padding: 14px;
    border-radius: 10px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.2s;
}

.opcao:hover {
    background: #343434;
}

.correta {
    background: #4caf50 !important;
    color: white;
}

.errada {
    background: #e53935 !important;
    color: white;
}

/* CELULAR */
@media (max-width: 600px) {

    body {
        padding: 10px;
        justify-content: center;
        align-items: center;
    }

    .tela {
        padding: 18px;
        border-radius: 12px;
    }

    button {
        padding: 12px;
        font-size: 15px;
    }

    .opcao {
        padding: 12px;
        font-size: 15px;
    }
}

/* TELAS MUITO PEQUENAS */
@media (max-width: 360px) {

    .tela {
        padding: 15px;
    }

    .topo {
        flex-direction: column;
        gap: 6px;
        text-align: center;
    }
}
